# .env.example
# Salin ini menjadi .env.production untuk production
# Salin ini menjadi .env untuk development
ENVIRONMENT=development

# Database
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=

# Valkey/Redis
VALKEY_HOST=
VALKEY_PORT=6379
VALKEY_PASSWORD=

# MinIO
MINIO_HOST=
MINIO_PORT=9000
MINIO_BUCKET=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SSL=

# pgAdmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# App
TEMPLATE_PATH=./templates/certificate.html
ALLOWED_ORIGINS=
GOTENBERG_URL=http://localhost:3000